.Debugger {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;;
  place-items: center;;
  height: 100%;
  width: 100%;
}

.Debugger-disasm {
  box-sizing: border-box;
  font-size: 1.3rem;
  font-weight: 800;
  padding: 2rem;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.Debugger-disasmLine {
  display: flex;
}
.Debugger-disasmLine:hover {
  background-color: #18181a;
}

.Debugger-disasmLineAddress,
.Debugger-disasmLineBytes,
.Debugger-disasmLineInstruction {
  min-width: 200px;
  padding: 0.5rem 1rem;
}